<div *ngIf="currentGoal" class="edit-form">
    <h4>Goal Details</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentGoal.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentGoal.description"
          name="description"
        />
      </div>
      <!-- <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentGoal.description"
          name="description"
        />
      </div> -->
      <div class="form-group">
        <label for="targetAmount">Total Cost: $</label>
        <input
          type="text"
          class="form-control"
          id="targetAmount"
          [(ngModel)]="currentGoal.targetAmount"
          name="targetAmount"
        />
      </div>
      <!-- ********************************** -->
      <div class="form-group">
        <label for="targetDate1">Due by:  </label>
        <input
          type="text"
          class="form-control"
          id="targetDate"
          [(ngModel)]="currentGoal.targetDate"
          name="targetDate"
        /> 
        <!-- <mat-datepicker></mat-datepicker>



        <!-- <mat-form-field class="example-full-width">
          <input matInput  id="targetDate" name="targetDate" [(ngModel)]="currentGoal.targetDate" [matDatepicker]="picker" placeholder="">

          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->





        <!-- **************************************************************** -->
      </div>
      <div class="form-group">
        <label for="currentAmount">Money Saved: </label>
        <input
          type="text"
          class="form-control"
          id="currentAmount"
          [(ngModel)]="currentGoal.currentAmount"
          name="currentAmount"
        />
      </div>
      <div class="form-group">
        <label for="recommendedAmountPerMonth">Recommended Monthly Payment: </label>
        <p >${{recommendedAmountPerMonth.toFixed(2)}}</p> 
      </div>
   
    </form>
    
  <button type="submit" class="m-3 btn btn-sm btn-primary" (click)="updateGoal()">
      Update/Make Payment
  </button>

  <button class="m-3 btn btn-sm btn-danger" (click)="deleteGoal()">
    Delete
  </button>


    <p style="color: red;">{{ message }}</p>
  </div>
  
  <div *ngIf="!currentGoal">
    <br />    <p>Cannot access this goal...</p>
  </div>
