<div *ngIf="currentGoal" class="edit-form">
    <h4>Edit Goal Details</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentGoal.name"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentGoal.description"
          name="description"
        />
      </div>
    
      <div class="form-group">
        <label for="targetDate">Due by:  </label>
     <!-- <input
          type="text"
          class="form-control"
          id="targetDate"
          [(ngModel)]="currentGoal.targetDate"
          name="targetDate"
        /> -->
      <!-- DATEPICKER -->
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" id="targetDate" name="targetDate" [(ngModel)]="currentGoal.targetDate" [matDatepicker]="picker" placeholder="">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-group">
          <label for="targetAmount">Target Amount:  </label>
          <input
            type="number"
            class="form-control"
            id="targetAmount"
            [(ngModel)]="currentGoal.targetAmount"
            name="targetAmount"
          /> 
      </div>
      <div *ngIf="currentGoal.targetAmount < 0">
        <p style="color: red">Cannot have a negative target amount! </p>
      </div>

      <div class="form-group">
        <label for="currentAmount">Money Saved: </label>
        <input
          type="number"
          class="form-control"
          id="currentAmount"
          [(ngModel)]="currentGoal.currentAmount"
          name="currentAmount"
        />
      </div>
      <div *ngIf="currentGoal.currentAmount < 0">
        <p style="color: red">Don't break the piggy bank! Saved so far cannot be negative. </p>
      </div>
      
      <div>
        <label for="theme">Goal theme:</label><br>
        <mat-radio-group aria-label="Select an option" id="theme" name="theme" [(ngModel)]="currentGoal.theme">
          <mat-radio-button value="vacation" id="vacation" >  Vacation  </mat-radio-button>
          <br>
          <mat-radio-button value="emergency" id="emergency" name="emergency"> Emergency  </mat-radio-button>
          <br>
          <mat-radio-button value="retirement" id="retirement" name="retirement"> Retirement  </mat-radio-button>
          <br>
        <mat-radio-button value="investment" id="investment" name="investement"> Investment  </mat-radio-button>
        </mat-radio-group>
      </div>
      <br><br>
      
      <div class="form-group">
        <label for="recommendedAmountPerMonth">Recommended Monthly Payment: </label>
        <p >${{recommendedAmountPerMonth.toFixed(2)}}</p> 
      </div>
     


    </form>
    
<!--
  <button type="submit" class="m-3 btn btn-sm btn-primary" (click)="makeDefaultPayment()">
    Deposit recommended monthly amount
  </button>


  
  <button type="submit" class="m-3 btn btn-sm btn-primary" (click)="makeCustomPayment()" >
    Deposit custom amount:
  </button>
  <input type="number" id="customAmount" name="customAmount"   [(ngModel)]="customAmount"/><br>
  
  

<app-deposit></app-deposit>-->

  <button type="submit" class="m-3 btn btn-sm btn-primary" (click)="updateGoal()">
    Update
  </button>

  <button class="m-3 btn btn-sm btn-danger" (click)="deleteGoal()">
    Delete
  </button>


    <p style="color: red;">{{ message }}</p>
  </div>
  
  <div *ngIf="!currentGoal">
    <br />    <p>Cannot access this goal...</p>
  </div>
