<div>
  <!-- <h1>Goal Planner</h1> -->
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">   Goal Digger. </a>
    <a href="#" class="navbar-brand">We Dig Your Goals!</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="goals" class="nav-link">Goals</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">New Goal</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>


</div>
