<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Goal</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="goal.name"
          name="name"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="goal.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="targetAmount">Target Amount</label>
        <input
          type="text"
          class="form-control"
          id="targetAmount"
          required
          value=""
          [(ngModel)]="goal.targetAmount"
          name="targetAmount"
        />
      </div>

      <!-- We are here -->
      <div class="form-group">
        <label for="targetDate">Target Date</label>
        <!-- <input
          type="datetime-local"
          class="form-control"
          id="targetDate"
          required
          [(ngModel)]="goal.targetDate"
          name="targetDate"
        /> -->

        <mat-form-field class="example-full-width">
          <input matInput  id="targetDate" name="targetDate" [(ngModel)]="goal.targetDate" [matDatepicker]="picker" placeholder="">

          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

      </div>
      <div class="form-group">
        <label for="currentAmount">$ Saved So Far</label>
        <input
          type="text"
          class="form-control"
          id="currentAmount"
          required
          [(ngModel)]="goal.currentAmount"
          name="currentAmount"
        />
      </div>
      <br>
      <button id="submitButton" (click)="saveGoal()" class="btn btn-success">Add Goal</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>Goal added successfully!</h4>
      <button class="btn btn-primary" (click)="newGoal()">New Goal</button> &nbsp;&nbsp;&nbsp;
      <button class="btn btn-success" ><a style="text-decoration: none; color: white; " href="/goals">Back to goals</a></button>
    </div>
  </div>
