<div class="list row">
    
  <div class="col-md-6">
    <h4><strong>Goals List</strong></h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let goal of goals; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveGoal(goal, i)"
      >
        {{ goal.name }}
        <mat-progress-bar mode="determinate" value="{{ goal.currentAmount / goal.targetAmount * 100 }}"></mat-progress-bar>
        {{ (goal.currentAmount / goal.targetAmount * 100).toFixed(0) }}% complete
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllGoals()">
      Delete all goals
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentGoal">
      <h4><strong>{{ currentGoal.name }}</strong></h4>
      <!-- <div>
        <label><strong>Goal:</strong></label> 
      </div> -->
      <div>
        <label><strong>Description:</strong></label>
        {{ currentGoal.description }}
      </div>
      <div>
        <label><strong>Target Date:</strong></label>
        {{  currentGoal.targetDate | date}}
      </div>
      <div>
        <label><strong>Cost:</strong></label>
        ${{ currentGoal.targetAmount }}
      </div>
      <div>
        <label><strong>Money Saved:</strong></label>
        ${{ (currentGoal.currentAmount).toFixed(2) }}
      </div>
      
      
      <div>
        <label for="recommendedAmountPerMonth"><strong>Recommended Monthly Payment: </strong></label>
        <p>${{recommendedAmountPerMonth.toFixed(2)}}</p> 
      </div>

      <div>
      <img class="img-responsive" src='{{ "assets/images/" + currentGoal.theme + ".jpg" }}' width="70%">
      </div>
      
      <div>
          <label><strong>Percent progress:</strong></label>
          <mat-progress-bar mode="determinate" value="{{ currentGoal.currentAmount / currentGoal.targetAmount * 100 }}"></mat-progress-bar>
      
        </div>
  
        <!--
      <a class="badge badge-warning" href="/goals/{{ currentGoal.id }}">
        Edit
      </a>
    -->
      <button class="m-3 btn btn-sm btn-primary" >
        <a class="badge badge-warning" href="/goals/{{currentGoal.id}}/deposit">
          Deposit
        </a>
      </button>  
      <button class="m-3 btn btn-sm btn-warning" >
        <a class="badge badge-warning" href="/goals/{{ currentGoal.id }}">
          Edit
        </a>
      </button>
      <button class="m-3 btn btn-sm btn-danger" (click)="deleteGoal()">
        <a class="badge badge-warning" href="/goals">
          Delete
        </a>
      </button>
    </div>

    <div *ngIf="!currentGoal">
      <br />
      <p>Please click on a goal...</p>
    </div>
  </div>
</div>