
<div class="list row">
    
    <div class="col-md-6">
      <h1>Goals List</h1>
      
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let goal of goals; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveGoal(goal, i)"
        >


        <div>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{ goal.name }}</mat-card-title>
              <mat-card-subtitle>{{ goal.targetDate }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src='{{ "assets/images/" + goal.theme + ".jpg" }}' alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                {{ goal.description }}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <mat-progress-bar mode="determinate" value="{{ goal.currentAmount / goal.targetAmount * 100 }}"></mat-progress-bar>
                Saved up {{ (goal.currentAmount / goal.targetAmount * 100).toFixed(0) }}% of the cost
             
            </mat-card-actions>
          </mat-card>
          
        </div>





          
          
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllGoals()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentGoal">
        <h4>Details</h4>
        <div>
          <label><strong>Name:</strong></label> {{ currentGoal.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentGoal.description }}
        </div>
        <div>
          <label><strong>Target Date:</strong></label>
          {{ currentGoal.targetDate }}
        </div>
        <div>
          <label><strong>Cost:</strong></label>
          ${{ currentGoal.targetAmount }}
        </div>
        <div>
          <label><strong>Money Saved:</strong></label>
          ${{ currentGoal.currentAmount }}
        </div>
        
        
        <div>
          <label for="recommendedAmountPerMonth"><strong>Recommended Monthly Payment: </strong></label>
          <p>${{recommendedAmountPerMonth.toFixed(2)}}</p> 
        </div>

        <div>
        <img class="img-responsive" src='{{ "assets/images/" + currentGoal.theme + ".jpg" }}' width="70%">
        </div>
        
        <div>
            <label><strong>Percent progress:</strong></label>
            <mat-progress-bar mode="determinate" value="{{ currentGoal.currentAmount / currentGoal.targetAmount * 100 }}"></mat-progress-bar>
        
          </div>
    
          <!--
        <a class="badge badge-warning" href="/goals/{{ currentGoal.id }}">
          Edit
        </a>
      -->
        <button class="m-3 btn btn-sm btn-secondary" >
          <a class="badge badge-warning" href="/goals/{{ currentGoal.id }}">
            Make Payment / Edit Goal
          </a>
        </button>
      </div>
  
      <div *ngIf="!currentGoal">
        <br />
        <p>Please click on a goal...</p>
      </div>
    </div>
  </div>